# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#this program's executable
gf2d

#logs
*.log

makefile.dep
/Project1/.vs/2D Project/v16
/Project1/Debug/2D Project.tlog
/Project1/x64/Debug/2D Project.tlog
/Project1/Project1.vcxproj.filters
/Project1/Project1.vcxproj.user
/Project1/Release/2D Project.tlog
/2D Project.ipdb
/2D Project.iobj
